# The usual
*.egg-info
*.pyc
*.png
**/.ipynb_checkpoints
**/.DS_Store
docs/*
!docs/*.md
!docs/*.html
!docs/archive/
!docs/**/*.md
__pycache__/

# Temporary files and directories
tests/tmp/
tests/_tmp/

# Local env vars, e.g. for development
# and testing directory for the runtime host
.envrc
_dev/
demo/

.venv/
.vscode/

ros_ws/build/
ros_ws/install/
ros_ws/log/
ros_ws/recordings/
ros_ws/src/*
!ros_ws/src/psilia_ros/

scripts/**/*.log

# Files with a leading underscore `_files.*` are private,
# helps keeping the repo clean while prototyping
**/_*/
**/_*
**/_*.*
!**/__*__.py
**/.DS_Store
